Content/__ExternalObjects__/
Content/__ExternalActors__/
Content/Imports/
Content/Characters/
Content/LevelPrototyping/
Content/ThirdPerson/

Binaries/
Platforms/
Intermediate/
Saved/

Source/Motionbuilder/
Source/FBX/
Source/Maya/

Source/SKMannequin_T_Pose/
Source/SKMannequin_A_Pose/
Source/SK_Mannequin_T_Pose_README.txt
Source/SK_Mannequin_A_Pose_README.txt
Source/UE4_MocapOnline_Tech_Notes.txt

# Visual Studio solutions
/*.sln
/*.sdf
/*.opensdf
/*.suo
.vs/